app/xgewerbesteuer/schemas/xunternehmen-basismodul-basisdatentypen_1_2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:bdt="urn:xoev-de:xunternehmen:standard:basismodul:basisdatentypen_1.2"
           xmlns:din91379="urn:xoev-de:kosit:xoev:datentyp:din-91379_2022-08"
           targetNamespace="urn:xoev-de:xunternehmen:standard:basismodul:basisdatentypen_1.2"
           version="1.2"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:appinfo>
         <standard>
            <nameLang>XUnternehmen.Basismodul</nameLang>
            <nameKurz>XUnternehmen.Basismodul</nameKurz>
            <nameTechnisch>basismodul</nameTechnisch>
            <kennung>urn:xoev-de:xunternehmen:standard:basismodul</kennung>
            <beschreibung>Basismodul des Standards XUnternehmen.</beschreibung>
         </standard>
         <versionStandard>
            <version>1.2</version>
            <versionXOEVProfil>2.1.0_p3</versionXOEVProfil>
            <versionXOEVHandbuch>2.5</versionXOEVHandbuch>
            <versionXGenerator>3.0.1</versionXGenerator>
            <versionModellierungswerkzeug>19.0 SP 2</versionModellierungswerkzeug>
            <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
         </versionStandard>
      </xs:appinfo>
   </xs:annotation>
   <xs:import schemaLocation="din-norm-91379-datatypes.xsd"
              namespace="urn:xoev-de:kosit:xoev:datentyp:din-91379_2022-08"/>
   <xs:simpleType name="IDType">
      <xs:annotation>
         <xs:documentation>Datentyp für ID-Elemente / ID-Querverweise innerhalb der jeweiligen XML-Datenstruktur.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="bdt:String.DIN91379.C"/>
   </xs:simpleType>
   <xs:simpleType name="String.DIN91379.C">
      <xs:annotation>
         <xs:documentation>Eingeschränkte Zeichenkette gemäß DIN 91379 . Der Datentyp C umfasst alle normativen Schriftzeichen nach der DIN 91379. Texte mit griechischen oder kyrillischen Buchstaben oder mit erweiterten (nicht-normativen) Nicht-Buchstaben sind unzulässig.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="din91379:datatypeC"/>
   </xs:simpleType>
   <xs:simpleType name="UUID">
      <xs:annotation>
         <xs:documentation>Dies ist der Typ für die Übemittlung eines Universally Unique Identifiers (UUID) gemäß RFC 4122. In dem Typ sind die formalen Vorgaben zum Aufbau eines UUID über ein Pattern auf Schemaebene berücksichtigt. Die Verwendung des Präfix urn:uuid: ist nicht zulässig.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:normalizedString">
         <xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
